<div class="panel" style="align-self: center;width: 300px">
<h3 class="panel header"><div class="content">Please Login</div></h3>
  <table>
    <tr>
      <td width="100">
        <div class="content">User Id:</div>
      </td>
      <td>
        <input #usr value="test">
      </td>
    </tr>
    <tr>
      <td><div class="content">Password:</div></td>
      <td><input type="password" #pwd value="test"></td>
    </tr>
    <tr><td></td><br/><button (click)="checkUser()" >Go>></button></tr>
  </table>
</div>

